@import "../common.styl"

.abc-base-modal-container
  position fixed
  top 0
  bottom 0
  right 0
  left 0
  z-index 1024
  @extend .abc-flex-row-center-center

.adc-base-modal-background
  position fixed
  top 0
  bottom 0
  right 0
  left 0
  z-index -1
  background-color #000000
  opacity 0.7

.abc-base-modal-container-bg-radius
  position: fixed;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  z-index: -1;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;

.right_click_menu_bg_class_name
  position fixed
  top 0
  bottom 0
  right 0
  left 0
  z-index -1
  background-color #000000
  opacity 0

.abc-loading-modal-background
  position fixed
  top 0
  bottom 0
  right 0
  left 0
  z-index -1
  opacity 0.4
  background-color: transparent #FFF

