.true-form-tool-bar-component-container
  @extend .abc-common-box-shadow
  position: absolute;
  background-color: #fff;
  border: 1px solid #eee;
  width: 120px;
  margin-top: 10px;
  margin-left -10px

.true-form-tool-bar-component-container-header
  height: 20px;
  background-color: #6998d6;
  align-items: center;
  display flex

.true-form-tool-bar-component-container-header-text
  line-height: 20px;
  width: 90px;
  margin-left: 10px;
  color: #FFF;

.true-form-tool-bar-component-body-container
  display flex
  flex-direction column

.true-form-tool-bar-component-body-line-1
.true-form-tool-bar-component-body-line-2
.true-form-tool-bar-component-body-line-3
  display flex
  flex-direction row
  justify-content space-around

.true-form-tool-bar-component-outer {
  width: 60px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor pointer
}

.true-form-tool-bar-component-outer:hover{
  -moz-box-shadow:-5px -5px 5px #eee inset;
  -webkit-box-shadow:-5px -5px 5px #eee inset;
  box-shadow:-5px -5px 5px #eee inset;
}

.true-form-tool-tip{

}

.true-form-tool-tip:hover{
}

.true-form-tool-tip span{
  display none
}

.true-form-tool-tip:hover span{
  opacity 0
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: -1px 1px 4px 0 rgba(0,0,0,0.2);
  width: 100px;
  height: 30px;
  display: block;
  position: absolute;
  text-align: center;
  line-height: 30px;
  margin-left: 90px;
  margin-top: 5px;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: forwards ;
  animation-fill-mode: forwards ;
  -webkit-animation-delay:1s;  /**延迟动画**/
  animation-delay:1s;
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}