.true-form-context-menu-container
    background-color: #fff;
    border: 1px solid #eee;
    width: 150px;
    height: 90px;

.true-form-context-menu-merge
.true-form-context-menu-split
.true-form-context-menu-close
    height 30px
    cursor pointer
    background-color #FFFFFF

.true-form-context-menu-merge:hover
.true-form-context-menu-split:hover
.true-form-context-menu-close:hover
    background-color #eef6fc

.true-form-context-menu-merge:hover div
.true-form-context-menu-split:hover div
.true-form-context-menu-close:hover div
    color #6998d6

.true-form-context-menu-merge-text
.true-form-context-menu-split-text
.true-form-context-menu-close-text
    line-height 30px
    font-size 15px
    margin-left 10px