.abc-form-context-menu-container
    background-color: #fff;
    border: 1px solid #eee;
    width: 150px;
    height: 90px;

.abc-form-context-menu-merge
.abc-form-context-menu-split
.abc-form-context-menu-close
    height 30px
    cursor pointer
    background-color #FFFFFF

.abc-form-context-menu-merge:hover
.abc-form-context-menu-split:hover
.abc-form-context-menu-close:hover
    background-color #eef6fc

.abc-form-context-menu-merge:hover div
.abc-form-context-menu-split:hover div
.abc-form-context-menu-close:hover div
    color #6998d6

.abc-form-context-menu-merge-text
.abc-form-context-menu-split-text
.abc-form-context-menu-close-text
    line-height 30px
    font-size 12px
    margin-left 10px

.right_click_context_menu_container
  position fixed
  top 0
  bottom 0
  right 0
  left 0