@import '../common.styl'
.abc-number-picker-container
  @extend .abc-flex-row-center-auto
  width 80px
  height 20px
  background-color #FFF

.abc-number-picker-add-btn
.abc-number-picker-delete-btn
  width 20px
  height 20px
  background-color #EEE
  text-align center
  cursor pointer
  line-height 20px

.abc-number-picker-delete-btn
  margin-left 2px

.abc-number-picker-add-btn:hover
.abc-number-picker-delete-btn:hover
  background-color #BBB

.abc-number-picker-text
  margin-left: 5px;
  width: 33px;