@import '../common.styl'

.abc-number-picker-container
  @extend .abc-flex-row-center-auto
  width 120px
  height 30px
  background-color #FFF
  //border 1px solid #999

.abc-number-picker-container-input
  width 120px
  height 28px
  border 0
