.true-form-number-picker-container
  width 300px
  height 300px

.true-form-number-picker-input
  width 200px

.true-form-number-picker-add-btn
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 25px 25px 25px;
  border-color: transparent transparent #b3b3b3 transparent;
  transform scale(0.2)
  cursor pointer

.true-form-number-picker-reduce-btn
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 25px;
  border-color: #b3b3b3 transparent transparent transparent;
  transform scale(0.2)
  cursor pointer
  margin-top -17px

.true-form-number-picker-btn-container
  margin-top -28px
  margin-left 170px