@import '../common.styl'

.abc-option-data-data-add-btn
  @extend .abc-common-btn-blue
  width 40px
  height 20px
  line-height 20px
  margin-left 40px

.abc-option-data-add-add-container
  @extend .abc-flex-row-center-auto

.abc-option-item-text
  width 160px
  color #9a9a9a
  word-spacing nowrap
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.abc-option-item-container
  @extend .abc-flex-row-center-auto
  width 210px
  height 24px

.abc-option-item-del-btn
  @extend .abc-common-btn-gray
  width 40px
  height 20px
  line-height 20px
  margin-left 10px
  font-size 9px

.abc-option-data-array-container
  margin-top 4px
  height 100px
  overflow auto

