@import '../common.styl'

.abc-prompt-container {
  width: 450px;
  height: 300px;
  background-color: #FFF;
  border-radius: 5px;
}

.abc-prompt-head {
  color: #6998d6;
  line-height: 40px;
  text-align: center;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bold;
  font-size: 20px;
}

.abc-prompt-head {
  background-color: #eef6fc;
  height: 40px;
}

.abc-prompt-head {
  background-color: #eef6fc;
  height: 40px;
}

.abc-prompt-head {
  background-color: #eef6fc;
  height: 40px;
}

.abc-prompt-content {
  width: 380px;
  height: 160px;
  border: 1px solid #eee;
  padding: 10px;
  margin-left: 25px;
  margin-top: 20px;
}

.abc-prompt-confirm-btn
  @extend .abc-common-btn-blue
  width: 40px;
  height: 20px;
  line-height 20px

.abc-prompt-cancel-btn
  @extend .abc-common-btn-gray
  width: 40px;
  height: 20px;
  line-height 20px

.abc-prompt-btn-container
  width: 100px;
  display: flex;
  margin-top: 20px;
  margin-left: 326px;
  justify-content: space-between;
