.tr-center-position
  display flex
  flex-direction row
  justify-content center
  align-items center

.tr-common-button
  width 74px
  height 32px
  border-radius 5px
  border none
  font-size 15px
  color #fff
  cursor pointer

.display-flex-row
  display flex
  flex-direction row

.display-flex-column
  display flex
  flex-direction row

.display-flex-row-center
  @extend .display-flex-row
  justify-content center
  align-items center

.display-flex-column-center
  @extend .display-flex-column
  justify-content center
  align-items center

.tr-common-button-gray
  @extend .tr-common-button
  background-color rgb(120, 121, 121)

.tr-common-button-blue
  @extend .tr-common-button
  background-color rgb(36, 141, 193)

.arrow {
  display: block;
  width: 96px;
  height: 30px;
  background: url(./icon/arrow.jpg) 0 0 no-repeat;
}
//--------------------------------------------------
.abc-flex-row
  display flex
  flex-direction row

.abc-flex-row-center-auto
  @extend .abc-flex-row
  align-items center

.abc-flex-row-auto-center
  @extend .abc-flex-row
  justify-content center

.abc-flex-row-center-center
  @extend .abc-flex-row-center-auto
  justify-content center

.abc-flex-column
  display flex
  flex-direction column

.abc-flex-column-center-auto
  @extend .abc-flex-column
  align-items center

.abc-flex-column-auto-center
  @extend .abc-flex-column
  justify-content center

.abc-flex-column-center-center
  @extend .abc-flex-column-center-auto
  justify-content center

.abc-common-btn-blue
  background-color #6998D6
  border-radius 5px
  text-align center
  font-size 15px
  color #FFF
  cursor pointer
