.abc-flex-row
  display flex
  flex-direction row

.abc-flex-row-center-auto
  @extend .abc-flex-row
  align-items center

.abc-flex-row-auto-center
  @extend .abc-flex-row
  justify-content center

.abc-flex-row-center-center
  @extend .abc-flex-row-center-auto
  justify-content center

.abc-flex-column
  display flex
  flex-direction column

.abc-flex-column-center-auto
  @extend .abc-flex-column
  align-items center

.abc-flex-column-auto-center
  @extend .abc-flex-column
  justify-content center

.abc-flex-column-center-center
  @extend .abc-flex-column-center-auto
  justify-content center

.abc-common-btn-blue
  background-color #6998D6
  border-radius 3px
  text-align center
  font-size 12px
  color #FFF
  cursor pointer

.abc-common-btn-gray
  @extend .abc-common-btn-blue
  background-color darkgray
  color #FFF

.abc-common-box-shadow
  -webkit-box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.2);

.abc-style-bg
  -webkit-box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: -1px 1px 4px 0 rgba(0, 0, 0, 0.2);
  background-color #FFF
  border 1px solid #ccc
