.user-list-icon-opt
  display inline-block
  height 27px
  float left
  width 67px
  background url(./icon/iconSprite.png) 0 0 no-repeat
  margin-right 5px
  cursor pointer

.user-list-add
  background-position -563px -594px

.user-list-modify
  background-position -563px -631px

.user-list-del
  background-position -563px -668px

.user-list-report
  background-position -563px -705px

.loading_bar
  border: solid 2px #86a5ad;
  background: #FFF url(./icon/progressBar_m.gif) no-repeat 10px 10px;

.user-list-head-bg
  background: url(./icon/headbg.jpg) 0 0 repeat-x;
  width: 100%;
  height: 94px;
  display: block;
  position: relative;

.user-list-header-logo {
  float: left;
  background: url(./icon/logo.jpg) no-repeat;
  width: 490px;
  height: 94px;
}

.user-list-header-logo-1{
  float left
  width 310px
  height 59px
  background url('./icon/logo1.png') no-repeat
  margin-top 5px
  margin-left 30px
}

.slide-menu-guide-list{
  width: 83px;
  height: 83px;
  background: url(./icon/iconSprite.png) 0 0 no-repeat;
  display: block;
  margin-top: 8px;
}

.up-arrow {
  display: block;
  width: 96px;
  height: 30px;
  background: url(./icon/arrow.jpg) 0 0 no-repeat;
  cursor pointer
}

.down-arrow{
  @extend .up-arrow
  transform: rotate(180deg);
}

.up-arrow:hover{
  display: block;
  width: 96px;
  height: 30px;
  background: url(./icon/arrow.jpg) -96px 0 no-repeat;
}

.down-arrow:hover{
  @extend .up-arrow:hover
  transform: rotate(180deg);
}

.slide-menu-guide-list-1{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-user.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

.slide-menu-guide-list-1-clicked{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-user-clicked.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

.slide-menu-unusual{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-unusual.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

.slide-menu-unusual-clicked{
  width: 81px;
  height: 81px;
  background: url(./icon/menu-unusual-clicked.png) no-repeat;
  display: block;
  margin-top: 8px;
  padding 3px
  border-bottom 1px solid #ccc
}

.true-form-edit-edit-icon
  width 18px
  height 16px
  background url("./icon/edit/edit.png") no-repeat
  background-size 100% 100%

.true-form-custom-style-icon
  width 17px
  height 13px
  background url("./icon/style/style.png") no-repeat
  background-size 100% 100%

.true-form-tool-icon
  width 18px
  height 18px
  background url("./icon/tools/tool.png") no-repeat
  background-size 100% 100%

.true-form-save-icon
  width 28px
  height 28px
  background url("./icon/other/save.png") no-repeat
  background-size 100% 100%

.true-form-print-icon
  width 32px
  height 30px
  background url("./icon/other/print.png") no-repeat
  background-size 100% 100%

.true-form-question-icon
  width 30px
  height 30px
  background url("./icon/other/question.png") no-repeat
  background-size 100% 100%

.true-form-edit-element-icon
  width 14px
  height 18px
  background url("./icon/edit/icon1.png") no-repeat
  background-size 100% 100%

.true-form-edit-display-icon
  width 14px
  height 14px
  background url("./icon/edit/icon2.png") no-repeat
  background-size 100% 100%

.true-form-edit-preview-icon
  width 17px
  height 9px
  background url("./icon/edit/icon3.png") no-repeat
  background-size 100% 100%

.true-form-edit-source-icon
  width 20px
  height 13px
  background url("./icon/style/icon4.png") no-repeat
  background-size 100% 100%

.true-form-tool-bar-right-arrow
  width 6px
  height 6px
  background url("./icon/edit/rightArrow.png") no-repeat
  background-size 100% 100%

.true-form-tool-bar-style-style-1
  width 52px
  height 62px
  background url("./icon/style/style1.jpg") no-repeat
  background-size 100% 100%

.true-form-tool-bar-style-style-2
  width 52px
  height 62px
  background url("./icon/style/style2.jpg") no-repeat
  background-size 100% 100%

.true-for-tool-bar-component-text
  width 23px
  height 23px
  background url("./icon/edit/text.png") no-repeat
  background-size 100% 100%

.true-form-tool-bar-component-input
  width 26px
  height 26px
  background url("./icon/edit/input.png") no-repeat
  background-size 100% 100%

.true-form-tool-bar-component-radio
  width 28px
  height 28px
  background url("./icon/edit/radio.png") no-repeat
  background-size 100% 100%

.true-form-tool-bar-component-check-box
  width 26px
  height 26px
  background url("./icon/edit/checkbox.jpg") no-repeat
  background-size 100% 100%

.true-form-tool-bar-component-text-area
  width 30px
  height 22px
  background url("./icon/edit/textarea.jpg") no-repeat
  background-size 100% 100%

.true-form-tool-bar-component-drop-down
  width 26px
  height 26px
  background url("./icon/edit/dropdown.png") no-repeat
  background-size 100% 100%

.true-form-tool-bar-component-hide
  width 10px
  height 10px
  background url("./icon/edit/doubleLeftArrow.png") no-repeat
  background-size 100% 100%

.table_module_1
  width 166.75px
  height 222.5px
  background url("./icon/module/table_module_1.png") no-repeat
  background-size 100% 100%

.table_module_2
  width 179.75px
  height 203px
  background url("./icon/module/table_module_2.png") no-repeat
  background-size 100% 100%

.table_module_3
  width 152.75px
  height 209.75px
  background url("./icon/module/table_module_3.png") no-repeat
  background-size 100% 100%

.table_module_4
  width 146px
  height 214.25px
  background url("./icon/module/table_module_4.png") no-repeat
  background-size 100% 100%
