@import "./common.styl"
@import "./icon.styl"

@import "./components/BaseModal.styl"
@import "./components/LoadingModal.styl"
@import "./components/numberPicker.styl"
@import "./components/contextMenu.styl"
@import "./components/componentPicker.styl"
@import "./components/optionDataAddTool.styl"
@import "./components/numberSetter.styl"
@import "./components/promptModal.styl"

@import "./containers/form.styl"
@import "./containers/formToolbar.styl"
@import "./containers/formToolbarEdit.styl"
@import "./containers/formToolbarEditDisplay.styl"
@import "./containers/formToolbarStyle.styl"
@import "./containers/formToolbarStyleItem.styl"
@import "./containers/formToolbarStyleEditor.styl"
@import "./containers/formToolbarStyleEditorColor.styl"
@import "./containers/formToolbarStyleEditorDropBox.styl"
@import "./containers/formToolbarStyleEditorNumber.styl"
@import "./containers/formToolbarStyleEditorText.styl"
@import "./containers/formToolbarStyleEditorOptionData.styl"
@import "./containers/formComponentTextStyleEditor.styl"
@import "./containers/formComponentClickConfirmModal.styl"

body
  background-color #ffffff
  margin 0
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

div
  font-size 12px

table
  border-spacing 0
  border-collapse collapse

table
th
td
textarea
input[type=text]
  box-sizing border-box

input[type='text']
  border 0
  border-bottom 1px #cccccc dotted

input[type="text"]:disabled
  background-color #FFF

input[type='checkbox']
input[type='radio']
  margin 0
  padding 0

textarea:disabled
  background #FFF

.react-datepicker__input-container input
  // border:1px solid;
  height: 30px;
  font-size: 20px;
  width: 100px !important;

input[type="file"] {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
input[type="file"] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    width: 142px;
    height: 31px;
    cursor: pointer;
}
input[type="file"]:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

.dataPlugin div:nth-child(1){
  display: inline-block
}

.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}

@font-face
  font-family '楷体_GB2312'
  src url('fonts/kaiti.ttf')

@font-face
  font-family 'simhei'
  src url('./fonts/simhei.ttf')

@font-face
  font-family '仿宋_GB2312'
  src url('./fonts/fangsong.ttf')

@font-face
  font-family '方正大标宋_GBK'
  src url('./fonts/biaosong.ttf')

@font-face
  font-family '方正小标宋简体'
  src url('fonts/jiansong.ttf')

@font-face
  font-family '宋体'
  src url('fonts/simsun.ttf')

