@import "./common.styl"
@import "./icon.styl"

@import "./components/BaseModal.styl"
@import "./components/LoadingModal.styl"
@import "./components/numberPicker.styl"
@import "./components/contextMenu.styl"
@import "./components/componentPicker.styl"
@import "./components/optionDataAddTool.styl"
@import "./components/numberSetter.styl"
@import "./components/promptModal.styl"

@import "./containers/form.styl"
@import "./containers/formToolbar.styl"
@import "./containers/formToolbarEdit.styl"
@import "./containers/formToolbarEditDisplay.styl"
@import "./containers/formToolbarStyle.styl"
@import "./containers/formToolbarStyleItem.styl"
@import "./containers/formToolbarStyleEditor.styl"
@import "./containers/formToolbarStyleEditorColor.styl"
@import "./containers/formToolbarStyleEditorDropBox.styl"
@import "./containers/formToolbarStyleEditorNumber.styl"
@import "./containers/formToolbarStyleEditorText.styl"
@import "./containers/formToolbarStyleEditorOptionData.styl"
@import "./containers/formComponentTextStyleEditor.styl"
@import "./containers/formComponentClickConfirmModal.styl"

body
  background-color #ffffff
  margin 0
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

div
  font-size 12px

table
  border-spacing 0
  border-collapse collapse

table
th
td
textarea
input[type=text]
  box-sizing border-box

input[type='text']
  border 0
  border-bottom 1px #cccccc dotted

input[type="text"]:disabled
  background-color #FFF

input[type='checkbox']
input[type='radio']
  margin 0
  padding 0

textarea:disabled
  background #FFF

@font-face
  font-family '楷体_GB2312'
  src url('fonts/kaiti.ttf')

@font-face
  font-family 'simhei'
  src url('./fonts/simhei.ttf')

@font-face
  font-family '仿宋_GB2312'
  src url('./fonts/fangsong.ttf')

@font-face
  font-family '方正大标宋_GBK'
  src url('./fonts/biaosong.ttf')

@font-face
  font-family '方正小标宋简体'
  src url('fonts/jiansong.ttf')

@font-face
  font-family '宋体'
  src url('fonts/simsun.ttf')

