@import "./common.styl"
@import "./icon.styl"

@import "./components/BaseModal.styl"
@import "./components/LoadingModal.styl"
@import "./components/numberPicker.styl"

@import "./containers/demoPage.styl"
@import "./containers/formPage.styl"
@import "./containers/toolbar.styl"

body
  background-color #ffffff
  margin 0

div
  font-size 12px

table
  border-spacing 0