@import "../common.styl"

.abc-form-tool-bar-style-item-container
  height 88px
  width 60px
  margin-left 5px
  cursor pointer

.abc-form-tool-bar-style-item-container-icon
  margin-left 4px
  margin-top 5px

.abc-form-tool-bat-style-item-container-text
  width 52px
  text-align center
  margin-top 3px
  margin-left 4px
