@import "../common.styl"

.abc-form-tool-bar-style-editor-drop-box-container
  @extend .abc-flex-row
  padding-bottom 10px
  padding-top 10px
  border-bottom 1px solid #CCCCCC

.abc-form-tool-bar-style-editor-drop-box-text
  margin-top 5px
  margin-left 5px
  margin-right 5px