@import "../common.styl"

.abc-form-tool-bar-style-editor-color-container
  @extend .abc-flex-row
  padding-bottom 10px
  padding-top 10px
  border-bottom 1px solid #CCC

.abc-form-tool-bar-style-editor-color-text
  margin-top 5px
  margin-left 5px
  margin-right 5px