@import "../common.styl"
.abc-form-component-text-style-editor-container
  @extend .abc-common-box-shadow
  position absolute
  margin-left 380px
  margin-top 150px
  background-color #fff
  border 1px solid #eee
  width 300px

.abc-form-component-text-style-editor-container-header
  background-color #eef6fc
  height 30px

.abc-form-component-text-style-editor-text
  width 180px
  margin-left 10px
  line-height 30px
  color #6998d6

.abc-form-component-text-style-editor-confirm-btn
.abc-form-component-text-style-editor-cancel-btn
  @extend .abc-common-btn-blue
  width 40px
  height 20px
  line-height 20px
  margin-top 10px
  font-size 12px
  margin-left 10px

.abc-form-component-text-style-editor-cancel-btn
  margin-top -20px
  margin-left 60px