@import '../common.styl'

.abc-form-tool-bar-edit-display-container
  width 150px
  height 145px
  margin-left 115px
  margin-top -73px
  background-color #FFF
  border 1px solid #EEE
  position absolute

.abc-form-tool-bar-edit-display-container-header
  background-color #EEF6FC
  height 20px

.abc-form-tool-bar-edit-display-container-header-text
  color: #6998D6;
  line-height: 20px;
  text-align: center;
  width 60px

.abc-form-tool-bar-edit-display-container-body-row
.abc-form-tool-bar-edit-display-container-body-col
  @extend .abc-flex-row-center-auto
  height 43px
  border-bottom 1px solid #999999

.abc-form-tool-bar-edit-display-container-body-col-text
.abc-form-tool-bar-edit-display-container-body-row-text
  margin-left 6px

.abc-form-tool-bar-edit-confirm-btn
  @extend .abc-common-btn-blue
  width 40px
  height 20px
  line-height 20px
  margin-top 10px
  margin-left 50px
