@import "../common.styl"

.abc-form-tool-bar-style-container
  @extend .abc-common-box-shadow
  width 250px
  height 180px
  margin-top 55px
  margin-left 225px
  position absolute
  background-color #FFFFFF
  border 1px solid #EEEEEE

.abc-form-tool-bar-style-container-up-text-container
.abc-form-tool-bar-style-container-down-text-container
  height 20px
  background-color rgb(238,246,252)

.abc-form-tool-bar-style-container-up-text-container-text
.abc-form-tool-bar-style-container-down-text-container-text
  width 140px
  line-height 20px
  margin-left 10px
  color rgb(105,152,214)

.abc-form-tool-bar-style-container-down-btn-modify
.abc-form-tool-bar-style-container-down-btn-add
  @extend .abc-common-btn-blue
  width 40px
  height 20px
  margin-top 10px
  margin-left 10px
  line-height 20px

.abc-form-tool-bar-style-container-up-styles
  @extend .abc-flex-row-center-auto
  height 100px