@import '../common.styl'

.abc-form-tool-bar-edit-container
  @extend .abc-common-box-shadow
  width 100px
  margin-top 55px
  margin-left 10px
  background-color #FFFFFF
  border 1px solid #EEEEEE
  position absolute

.abc-form-tool-bar-edit-container-body-element
.abc-form-tool-bar-edit-container-body-display
.abc-form-tool-bar-edit-container-body-preview
.abc-form-tool-bar-edit-container-body-source
  @extend .abc-flex-row-center-auto
  height 26px
  cursor pointer

.abc-form-tool-bar-edit-container-sub-body
  position absolute

.abc-form-tool-bar-edit-container-body-item-icon
.abc-form-tool-bar-edit-container-body-item-text
  margin-left 3px
