.true-form-tool-bar-style-container
  position: absolute;
  margin-top: 45px;
  width: 250px;
  height: 210px;
  background-color: #FFFFFF;
  margin-left: 85px;
  border 1px solid #EEEEEE

.true-form-tool-bar-style-container-1-text-container
.true-form-tool-bar-style-container-2-text-container
  height: 30px;
  background-color: rgb(238,246,252);

.true-form-tool-bar-style-container-1-text
.true-form-tool-bar-style-container-2-text
  line-height: 30px;
  width: 140px;
  margin-left: 10px;
  color: rgb(105,152,214);

.true-form-tool-bar-style-container-1-styles
  height 100px
  display flex
  flex-direction row

.true-form-tool-bar-style-container-2-btn
  width: 60px;
  height: 30px;
  background-color: #6998d6;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;

.true-form-tool-bar-style-item-container
  height: 88px;
  width: 60px;
  background-color: #ECF6E7;
  margin-left: 5px;
  margin-top: 5px;
  cursor pointer

.true-form-tool-bat-style-item-container-text
  width: 52px;
  text-align: center;//ecf6e7
  margin-top: 3px;
  margin-left: 4px;

.true-form-tool-bar-style-item-container-icon
  margin-left: 4px;
  margin-top: 5px;

