.true-form-tool-bar-style-editor-container
  position: absolute;
  margin-left: 380px;
  margin-top: 150px;
  background-color: #fff;
  border: 1px solid #eee;
  width 300px

.true-form-tool-bar-style-editor-header
  background-color: #eef6fc;
  height: 30px;

.true-form-tool-bar-style-editor-text
  width: 180px;
  margin-left: 10px;
  line-height: 30px;
  color: #6998d6;

.color-picker-color-cube
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-top: 10px;

.true-form-tool-bar-style-editor-color
.true-form-tool-bar-style-editor-border-size
.true-form-tool-bar-style-editor-font-size
.true-form-tool-bar-style-editor-font-family
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #CCCCCC;

.true-form-tool-bar-style-editor-color-text
.true-form-tool-bar-style-editor-border-size-text
.true-form-tool-bar-style-editor-font-size-text
.true-form-tool-bar-style-editor-font-family-text
  margin-left 5px
  margin-right 5px

.true-form-tool-bar-style-editor-confirm-btn
.true-form-tool-bar-style-editor-cancel-btn
  width: 60px;
  height: 30px;
  background-color: #6998d6;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;